@media screen {
	body {
		text-align: center;
	}

	.page {
		font-family: "Inconsolata", monospace;
		margin: 0 auto;
		max-width: 600px;
		text-align: left;
		line-height: 1.3em;
	}
}

@media print {
	.page {
		font-family: "Inconsolata", monospace;
		text-align: justify;
		font-size: 10pt;
	}
}